
.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    width: 50%;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button3 {
    display: "none";
}
     _______________________________
     h1{
         font-family:"Comic Sans MS", cursive, sans-serif;
     }
     p {
          font-family:"Comic Sans MS", cursive, sans-serif;
         text-align: center;
     }
     p.A {
         font-size: 150%;
     }
     p.B {font-size: 175%;
         
     }
     p.C {font-size: 200%;
         
     }
     p.D {font-size: 250%;
         
     } 
input{
    display: none;
    margin-top: 20px;
}